div.wrapper
  header.site-header
    h2
      a(class="logo ir" href=blog.url)= blog.title

  .container.clearfix.wrapperContent
    main.content(role="main")
      != content

    aside.author
      img(class="profile-image" src=blog.owner.avatar alt=blog.owner.name)
      p.name
        | by&nbsp;
        strong= blog.owner.name
      p.address
        = blog.owner.location
      p.link
        a(href="http://#{blog.owner.url}" title="blog.owner.name" target="_blank")= blog.owner.url

      ul.social
        li
          a(class="icon-twitter" href="https://twitter.com/#{blog.owner.twitter}" title="Follow me on Twitter" target="_blank")
        li
          a(class="icon-github" href=blog.owner.github title="Visit me on Github" target="_blank")

  footer.main-footer
    .container.clearfix
      p
        | All content copyright #[a(href="http://#{blog.owner.url}")= blog.owner.name] 2016. All rights reserved.
      p
        | Proudly published with gh-blog. Theme designed by #[a(href="http://rriegger.com/") Raphael Riegger].
