.container.clearfix.wrapperContent
  main.content(role="main")
    each post in posts
      article.post
        h2
          a(href=post.link title=post.title)= post.title
        footer.post-info
          | Posted on #[span.post-meta= post.publishedDate].

        p
          != post.contentSnippet
          a(href=post.link title=post.title) Read more &raquo;

  aside.author
    img(class="profile-image" src=blog.owner.avatar alt=blog.owner.name)
    p.name
      | by&nbsp;
      strong= blog.owner.name
    p.address
      | Munich, Germany
    p
      a(href="http://www.michaelwellner.de" title="Michael Wellner") michaelwellner.de

    ul.social
      li
        a(class="icon-twitter" href="http://twitter.com/cokeSchlumpf" title="Follow me on Twitter" target="_blank")
        a(class="icon-github" href="http://github.com/cokeSchlumpf" title="cokeSchlumpf@Github" target="_blank")
