div.wrapper
  header.site-header
    h2
      a(class="logo ir" href=blog.url)= blog.title

  .container.clearfix.wrapperContent
    main.content(role="main")
      != content

    aside.author
      img(class="profile-image" src=blog.owner.avatar alt=blog.owner.name)
      p.name
        | by&nbsp;
        strong= blog.owner.name
      p.address
        = blog.owner.location
      p.link
        a(href="http://#{blog.owner.url}" title="blog.owner.name" target="_blank")= blog.owner.url

      ul.social
        li
          a(class="icon-twitter" href="https://twitter.com/#{blog.owner.twitter}" title="Follow me on Twitter" target="_blank")
        li
          a(class="icon-github" href=blog.owner.github title="Visit me on Github" target="_blank")

  footer.main-footer
    .container.clearfix
      p
        | All content copyright #[a(href="http://#{blog.owner.url}")= blog.owner.name] 2016. All rights reserved. #[a(href="http://#{blog.baseUrl}/blogs/#{blog.user}/#{blog.repo}/static/impressum") Impressum].
      p
        | Proudly published with #[a(href="https://github.com/cokeSchlumpf/gh-blog" target="_blank") gh-blog]. #[a(href="https://github.com/rriegger/MinimalisticBlogTheme" target="_blank") Theme] designed by #[a(href="http://rriegger.com/" target="_blank") Raphael Riegger].

  script
    | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    | })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    | ga('create', 'UA-2075101-7', 'auto');
    | ga('send', 'pageview');
