each post in posts.posts
  article.post
    h2
      a(href=post.link title=post.title)= post.title
    footer.post-info
      | Posted on #[span.post-meta= post.publishedDate].

    div.markdown-body
      != post.contentSnippet
      a(href=post.link title=post.title) Read more &raquo;

div.pagination
  nav
    if posts.page > 1
      a.newer(href="#{posts.prevUrl}") &lt;&lt;

    p.counter
      | Page #{posts.page} of #{posts.pages}

    if posts.page < posts.pages
      a.older(href="#{posts.nextUrl}") &gt;&gt;
